{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} Student Dashboard {% endblock %}

<!-- links of the left navigation bar -->
{% block navlinks %}
    <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-speedometer2"></i><p>Dashboard</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-bar-chart-line"></i><p>Progress</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-journal-text"></i><p>Assignments</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-patch-question"></i><p>Quizzes</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-calendar-day"></i><p>Today's Task</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-camera-video"></i><p>Recorded Sessions</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-chat-dots"></i><p>Chat System</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-file-earmark-text"></i><p>Model Question Papers</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-question-circle"></i><p>Doubt Sessions</p></a>
    </li>

{% block body_header %}   {% endblock %}
{% endblock %}
    
<!-- here is the main content or the body of this page -->
{% block content %}

{% endblock %}

